[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"

[dev-packages]
flake8 = "*"
nptyping = "*"

[requires]
python_version = "3.8"

[scripts]
start = "python main.py"
lint = "flake8 --show-source ."
